$timeTrans: 400ms;
$itemsNum: 5;

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  overflow: hidden;
}
.menu__toggler{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(#E0E0E0, 1);
  color: #282c34;
  transition: background-color $timeTrans, transform $timeTrans;

  &.disabled{
    background-color: rgba(#E0E0E0, 0.5);
    transform: scale(0);
    pointer-events: none;
  }
  &.enabled{
    transform: scale(1);
  }
  &.state_open{
    .icon_burger{
      animation: burger__icon_menu-close $timeTrans;
    }
  }
  &.state_close{
    background-color: rgba(#E0E0E0, 0.5);

    .icon_close{
      animation: close__icon_menu-open $timeTrans;
      opacity: 1;
    }
    .icon_burger{
      animation: burger__icon_menu-open $timeTrans;
      opacity: 0;
    }
  }
}
.menu{
  position: relative;
  z-index: 1;
  width: 240px;
  height: 240px;
  font-size: 0;
  // border: 1px solid red;

  ul{
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &.opened{

    .icon__wrapper{
      transform: scale(1);
    }
    
    .wrapper_translate{
      transform: translateY(-100px);
    }
    .circle__wrapper{
      opacity: 1;
      transition: opacity 0s $timeTrans;
    }
  }

  &.animated_end{
    .menu__item:not(.active){
      display: none;
    }
  }

  &.closed{
    .circle__wrapper, .wrapper_translate, .icon__wrapper{
      transition: none;
    }
  }
}
.menu__item{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  pointer-events: none;

  &.active{
    z-index: 1;
    pointer-events: none;

    .icon_circle{
      animation: circle_activated 2*$timeTrans;
    }
    .wrapper_animated{
      animation: icon_activated 2*$timeTrans;
    }
  }

  $itemAngle: (360 / $itemsNum);
  $totalAngle: 0;

  @for $i from 1 through $itemsNum {
    &:nth-child(#{$i}){
      .wrapper_rotate{
        transform: rotate($totalAngle * 1deg);
      }
      .icon_item{
        transform: rotate(-$totalAngle * 1deg);
      }
    }

    $totalAngle: $totalAngle + $itemAngle;
  }

  .wrapper_rotate, .wrapper_translate{
    width: 240px;
    height: 240px;
    pointer-events: none;
  }
  .wrapper_translate{
    transform: translateY(0);
    transition:  transform ease $timeTrans;
  }

  .icon__wrapper{
    transform: scale(0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    transition:  transform $timeTrans;
  }

  &.home{
    $color: #1E88E5;
    .circle__wrapper{
      color: $color;
    }
    .icon__wrapper{
      background-color: $color;
    }
  }
  &.search{
    $color: #00c853;
    .circle__wrapper{
      color: $color;
    }
    .icon__wrapper{
      background-color: $color;
    }
  }
  &.notification{
    $color: #f4511e;
    .circle__wrapper{
      color: $color;
    }
    .icon__wrapper{
      background-color: $color;
    }
  }
  &.settings{
    $color: #5e35b1;
    .circle__wrapper{
      color: $color;
    }
    .icon__wrapper{
      background-color: $color;
    }
  }
  &.location{
    $color: #fb8c00;
    .circle__wrapper{
      color: $color;
    }
    .icon__wrapper{
      background-color: $color;
    }
  }
}

.list_menu{
  color: #fff;
}

.icon_circle{
  transform: rotate(-90deg);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  stroke-dashoffset: 628px;
}
.wrapper_animated{
  transform: rotate(0deg);
}

.circle__wrapper{
  opacity: 0;
  position: absolute;
}

.icon_item{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: currentColor;
}

.icon_close{
  opacity: 0;
}

@at-root{
  @keyframes toggler_menu-close {
    0%{
      opacity: 1;
      transform: scale(1);
    }
    100%{
      opacity: 0;
      transform: scale(0);
    }
  }
  @keyframes burger__icon_menu-open {
    0%{
      opacity: 1;
      transform: rotate(0);
      
    }
    50%{
      opacity: 0;
      transform: rotate(20deg);
    }
  }
  @keyframes close__icon_menu-open {
    0%{
      opacity: 0;
      transform: rotate(-180deg);
      
    }
    100%{
      opacity: 1;
      transform: rotate(0);
    }
  }
  @keyframes burger__icon_menu-close {
    0%{
      opacity: 0;
      transform: rotate(-45deg);
    }
    50%{
      opacity: 0;
      transform: rotate(-45deg);
    }
    75%{
      opacity: 0.5;
      transform: rotate(15deg);
    }
    100%{
      opacity: 1;
      transform: rotate(0);
    }
  }
  @keyframes circle_activated{
    0%{
      stroke-dashoffset: 628.31853px;
      stroke-width: 40px;
      opacity: 1;
      transform: rotate(-90deg) scale(1);
    }
    50%{
      stroke-dashoffset: 0px;
      stroke-width: 40px;
      opacity: 1;
      transform: rotate(-90deg) scale(1);
      
    }
    100%{
      stroke-dashoffset: 0px;
      stroke-width: 45px;
      opacity: 0;
      transform: rotate(-90deg) scale(1.15);
    }
  }
  @keyframes icon_activated{
    0%{
      opacity: 1;
      transform: rotate(0deg);
    }
    50%{
      opacity: 1;
      transform: rotate(360deg);
    }
    60%{
      opacity: 0;
      transform: rotate(360deg);
    }
    100%{
      opacity: 0;
      transform: rotate(360deg);
    }
  }
}